<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>500 Error Page</title>
    <link rel="icon" href="ufo.png" type="image/gif" sizes="">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.6/flowbite.min.css" rel="stylesheet" />
</head>

<body class="bg-gradient-to-r from-violet-500 to-fuchsia-500">

<main class="h-screen flex justify-center items-center">
    <section class=" dark:bg-gray-900">
        <div class="grid px-4 py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16">
            <div class="col-span-8 text-center relative">
                <div class="hide absolute top-1/2 right-1/2 translate-x-1/2 -translate-y-1/2 text-center z-20">
                    <h1
                            class="text-violet-500 max-w-2xl mb-12 text-[350px] font-extrabold dark:text-white">
                        500</h1>
                </div>
                <p
                        class="max-w-2xl z-50 relative mb-6 font-medium lg:mb-6 md:text-lg lg:text-4xl dark:text-gray-400">
                    Xin lỗi, nó không do bạn, do chúng tôi..</p>
                <p class="max-w-2xl z-50 relative mb-6 lg:mb-8 md:text-lg lg:text-2xl dark:text-gray-400">
                    Có lẽ do sự cố đường truyền hoặc trang bạn đang yêu cầu không tồn tại</p>
                <button type="button"
                        class="text-white z-50 relative bg-[#111827] hover:bg-gray-700 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-600 dark:hover:bg-[#111827] focus:outline-none dark:focus:ring-gray-800">Trở
                    về trang chủ</button>
            </div>
            <div class="absolute z-10 lg:mt-0 lg:col-span-5 lg:flex bottom-0 right-1/2 translate-x-1/2">
                <img src="500.png" alt="mockup" class="w-56">
            </div>
        </div>
    </section>
</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.6/flowbite.min.js"></script>
</body>

</html>